@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?z6y4dk");
  src: url("../fonts/icomoon/icomoon.eot?z6y4dk#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?z6y4dk") format("truetype"), url("../fonts/icomoon/icomoon.woff?z6y4dk") format("woff"), url("../fonts/icomoon/icomoon.svg?z6y4dk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "";
}

.icon-quote-left:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-linkedin2:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.description-block__title, .description-block__subtitle {
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
  font-weight: 400;
  opacity: 0.65;
}

.container {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
}

.title {
  text-transform: capitalize;
  font-family: "Aleo", serif;
  font-size: 2.25rem;
  font-weight: 400;
}

.btn {
  max-width: 225px;
  position: relative;
  width: 100%;
  display: block;
  overflow-x: hidden;
  text-align: center;
  color: #fff;
  background-color: #5474fd;
  line-height: 3.75rem;
  font-size: 1rem;
  font-family: "Aleo", serif;
  text-transform: uppercase;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 1;
}
.btn::before {
  display: block;
  z-index: -1;
  content: "";
  width: 125%;
  border-bottom: 3.75rem solid #496bfe;
  position: absolute;
  right: 50%;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  border-right: 3.75rem solid transparent;
}
.btn:hover::before {
  right: -3.75rem;
}

.search-form {
  max-width: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 2px solid #fff;
}
.search-form__input {
  line-height: 2.75rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 76.9230769231%;
  flex: 1 1 76.9230769231%;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 10px -5px transparent;
  box-shadow: 0 0 10px -5px transparent;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.search-form__input::-webkit-input-placeholder {
  text-align: center;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
}
.search-form__input::-moz-placeholder {
  text-align: center;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
}
.search-form__input:-ms-input-placeholder {
  text-align: center;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
}
.search-form__input::-ms-input-placeholder {
  text-align: center;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
}
.search-form__input::placeholder {
  text-align: center;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
}
.search-form__input:focus, .search-form__input:focus-visible {
  outline: 2px solid #1cf7ff;
}
.search-form__input:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.search-form__btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 22.4615384615%;
  flex: 0 1 22.4615384615%;
  line-height: 3.75rem;
  border: none;
  border-radius: 0;
  background-color: #5474fd;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: "Aleo", serif;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.search-form__btn i {
  font-size: 1.45rem;
  vertical-align: middle;
}
.search-form__btn:hover {
  background-color: #496bfe;
  cursor: pointer;
}
@media screen and (max-width: 540px) {
  .search-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
  }
  .search-form__input {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;
  }
  .search-form__btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    width: 50%;
    border: 2px solid #fff;
  }
}

.description-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.description-block--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.description-block__text-block {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 540px;
  flex: 0 0 540px;
  width: 100%;
  padding: 3.125rem 1.875rem;
}
.description-block__subtitle {
  text-transform: capitalize;
}
.description-block__title {
  text-transform: uppercase;
}
.description-block__text {
  font-size: 1rem;
  margin-bottom: 3.125rem;
  opacity: 0.65;
}
@media screen and (max-width: 720px) {
  .description-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .description-block__text-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
  .description-block__btn {
    margin: 0 auto;
  }
}

.title-section {
  background-image: url("../img/title/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  height: 90.243902439vh;
  text-align: center;
  padding: 35.9459459459vh 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .title-section {
    /* 2x Retina styles here */
    background-image: url("../img/title/background@2x.jpg");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (min-device-pixel-ratio: 3), only screen and (min-resolution: 384dpi), only screen and (min-resolution: 3dppx) {
  .title-section {
    /* 3x Retina styles here */
    background-image: url("../img/title/background@3x.jpg");
  }
}
@media screen and (max-width: 400px) {
  .title-section {
    background-position: center;
  }
}
@media screen and (max-height: 720px) {
  .title-section {
    padding: 20.2702702703vh 0 0;
  }
}
.title-section .container {
  height: 100%;
}
.title-section__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.title-section__title {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1.0625rem;
  font-weight: 700;
}
.title-section__subtitle {
  font-size: 22px;
  margin-bottom: 3.4375rem;
}
.title-section__search-form {
  margin: 0 auto;
}
.title-section__scroll {
  font-size: 0.875rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.6;
}
.title-section__scroll-text {
  text-transform: capitalize;
  margin-bottom: 0.9375rem;
}

.header {
  background-color: #5474fd;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}
@media screen and (max-width: 720px) {
  .header {
    position: static;
  }
}
.header__wrapper {
  min-height: 9.756097561vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
.header__nav {
  margin-left: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 540px;
  flex: 0 1 540px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.header__nav-item {
  position: relative;
}
.header__nav-item::before, .header__nav-item::after {
  display: block;
  content: "";
  background-color: #fff;
  width: 100%;
  height: 0.25em;
  position: absolute;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.header__nav-item::before {
  bottom: 1.5em;
}
.header__nav-item::after {
  top: 1.5em;
}
.header__nav-item:hover::before, .header__nav-item:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.header__nav-anchor {
  color: #fff;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  text-transform: uppercase;
  font-family: "Aleo", serif;
}
@media screen and (max-width: 720px) {
  .header__wrapper {
    padding-top: 3.2520325203vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__title {
    margin-bottom: 4.8780487805vh;
  }
  .header__nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__nav-item {
    margin-bottom: 30px;
    text-align: center;
  }
  .header__nav-anchor {
    font-size: 2.5rem;
  }
}

.section-about {
  background-image: url("../img/about/bg/background.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  padding: 7.5rem 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .section-about {
    /* 2x Retina styles here */
    background-image: url("../img/about/bg/background@2x.jpg");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (min-device-pixel-ratio: 3), only screen and (min-resolution: 384dpi), only screen and (min-resolution: 3dppx) {
  .section-about {
    /* 3x Retina styles here */
    background-image: url("../img/about/bg/background@3x.jpg");
  }
}
.section-about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.section-about__text-description {
  max-width: 540px;
}
.section-about__title {
  margin-bottom: 60px;
}
.section-about__description {
  margin-bottom: 30px;
  line-height: 1.625rem;
  font-size: 1rem;
  opacity: 0.75;
}
.section-about__description:nth-child(3) {
  margin-bottom: 3.125rem;
}
.section-about__btn {
  margin-bottom: 15px;
}
.section-about__image-list {
  max-width: 475px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 475px;
  flex: 0 1 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media screen and (max-width: 540px) {
  .section-about__image-list {
    display: none;
  }
}
.section-about__image-item {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 0;
  margin-bottom: 5px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 350px;
}
.section-about__image-item:nth-child(2n) {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 0;
  margin-right: 0;
}
.section-about__img {
  width: 100%;
  overflow: hidden;
}
.section-about__img img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
@media screen and (max-width: 720px) {
  .section-about {
    padding: 5rem 0;
  }
  .section-about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
  }
  .section-about__text-description {
    max-width: 100%;
  }
  .section-about__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .section-about__image-list {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .section-about__image-item {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-width: 0;
    margin-bottom: 0;
    margin-right: 5px;
  }
}

.section-icon {
  background-color: #333333;
  padding: 100px 0;
}
.section-icon__wrapper {
  position: relative;
  z-index: 1;
}
.section-icon__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 540px) {
  .section-icon__icon-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.section-icon__arcs {
  position: absolute;
  width: 75%;
  left: 49.5%;
  top: -15%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
@media screen and (max-width: 720px) {
  .section-icon__arcs {
    display: none;
  }
}
.section-icon__icon-item {
  text-align: center;
  text-transform: capitalize;
  font-family: "Aleo", serif;
  font-size: 2.25rem;
}
@media screen and (max-width: 540px) {
  .section-icon__icon-item {
    margin-bottom: 30px;
  }
}
.section-icon__img {
  background-color: #333333;
  display: block;
  height: 57px;
  margin: 0 auto 1.6rem;
}
.section-icon__text {
  opacity: 0.75;
}
@media screen and (max-width: 720px) and (min-width: 540px) {
  .section-icon__icon-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .section-icon__icon-item:first-child {
    margin-right: 5%;
  }
  .section-icon__icon-item:last-child {
    margin-left: 5%;
  }
  .section-icon__icon-item:nth-child(2) {
    margin: 0 auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.spain-1 {
  background-image: url("../img/spain-1/background.jpg");
  background-position: center;
  background-size: cover;
  padding: 230px 0 100px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .spain-1 {
    /* 2x Retina styles here */
    background-image: url("../img/spain-1/background@2x.jpg");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (min-device-pixel-ratio: 3), only screen and (min-resolution: 384dpi), only screen and (min-resolution: 3dppx) {
  .spain-1 {
    /* 3x Retina styles here */
    background-image: url("../img/spain-1/background@3x.jpg");
  }
}

.spain-2 {
  background-image: url("../img/spain-2/background.jpg");
  background-position: center;
  background-size: cover;
  padding: 230px 0 100px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .spain-2 {
    /* 2x Retina styles here */
    background-image: url("../img/spain-2/background@2x.jpg");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (min-device-pixel-ratio: 3), only screen and (min-resolution: 384dpi), only screen and (min-resolution: 3dppx) {
  .spain-2 {
    /* 3x Retina styles here */
    background-image: url("../img/spain-2/background@3x.jpg");
  }
}

.comments {
  background-image: url("../img/quotes/bg/background.jpg");
  background-position: left bottom;
  background-size: cover;
  padding: 117px 0 200px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .comments {
    /* 2x Retina styles here */
    background-image: url("../img/quotes/bg/background@2x.jpg");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (min-device-pixel-ratio: 3), only screen and (min-resolution: 384dpi), only screen and (min-resolution: 3dppx) {
  .comments {
    /* 3x Retina styles here */
    background-image: url("../img/quotes/bg/background@3x.jpg");
  }
}
.comments__title {
  text-align: center;
  margin-bottom: 90px;
}
.comments__text-block {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .comments__text-block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.comments__img {
  max-width: 445px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
@media screen and (max-width: 960px) {
  .comments__img {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
@media screen and (max-width: 720px) {
  .comments__img {
    margin: 0 auto 20px;
  }
}
.comments__img img {
  width: 100%;
}
.comments__comment {
  opacity: 0.8;
  padding: 15px 45px 15px 60px;
}
@media screen and (max-width: 960px) {
  .comments__comment {
    -webkit-box-flex: 0;
    -ms-flex: 0 2 auto;
    flex: 0 2 auto;
  }
}
@media screen and (max-width: 720px) {
  .comments__comment {
    padding: 15px 50px;
  }
}
.comments__author {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 33px;
}
.comments__quote {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  font-weight: 300;
  letter-spacing: -0.1px;
}
.comments__quote i {
  font-size: 1.25rem;
  color: #5474fd;
  vertical-align: 0.95rem;
  margin-right: 0.3rem;
}

.footer {
  background-color: #000;
  text-align: center;
  padding: 120px 0 50px;
}
.footer__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1.0625rem;
}
.footer__subtitle {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
}
.footer__social-list {
  width: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__links {
  color: #fff;
  vertical-align: middle;
  font-size: 1rem;
}
.footer__links i {
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.footer__links--youtube i {
  border-radius: 25%;
}
.footer__links--youtube:hover i {
  background-color: #fff;
  color: red;
}
.footer__links--facebook:hover i {
  background-color: #1877f2;
  border-radius: 50%;
}
.footer__links--twitter:hover i {
  background-color: #41abe1;
  border-radius: 15%;
}
.footer__links--linkedin {
  color: #5474fd;
}
.footer__links--linkedin i {
  border-radius: 15%;
}
.footer__links--linkedin:hover i {
  background-color: #0077b5;
  color: #fff;
}
.footer__links--pinterest i {
  border-radius: 50%;
}
.footer__links--pinterest:hover i {
  background-color: #fff;
  color: #ba0110;
}
@media screen and (max-width: 720px) {
  .footer__links {
    font-size: 3rem;
  }
  .footer__social-list {
    width: 90%;
  }
}
@media screen and (max-width: 540px) {
  .footer__social-item {
    margin-bottom: 2rem;
  }
  .footer__social-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
