.section-about {

    @include adaptiveBG("../img/about/bg/background");

    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    padding: 120 / 16 * 1rem 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__text-description {
        max-width: 540px;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__description {
        margin-bottom: 30px;
        line-height: 26 / 16 * 1rem;
        font-size: 1rem;

        &:nth-child(3){
            margin-bottom: 50 / 16 * 1rem;
        }
    }

    &__btn {
        margin-bottom: 15px;
    }

    &__image-list {
        max-width: 475px;
        flex: 0 1 475px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @media screen and (max-width: 540px) {
            display: none;
        }
    }

    &__image-item {
        align-self: flex-start;
        font-size: 0;
        margin-bottom: 5px;
        flex: 0 0 auto;
        max-width: 350px;

        &:nth-child(2n) {
            align-self: flex-end;
            margin-bottom: 0;
            margin-right: 0;
        }
    }

    &__img {
        width: 100%;
        overflow: hidden;

        & img {
            width: 100%;
            object-fit: contain;
        }
    }

    @media screen and (max-width: 720px) {
        padding: 80 / 16 * 1rem 0;

        &__wrapper {
            flex-direction: column;
            align-items: stretch;
            text-align: center;
        }

        &__text-description {
            max-width: 100%;
        }

        &__btn {
            margin-left: auto;
            margin-right: auto;
        }

        &__image-list {
            max-width: 100%;
            flex: 0 1 auto;
            flex-direction: row;
        }

        &__image-item {
            width: 100%;
            flex: 0 1 auto;
            min-width: 0;
            margin-bottom: 0;
            margin-right: 5px;
        }
    }
}
