.section-icon {
    background-color: $section-icon-bg;
    padding: 100px 0;
    
    &__wrapper {
        position: relative;
        z-index: 1;
    }

    &__icon-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-width: 980px;
        width: 100%;
        margin: 0 auto;

        @media screen and (max-width: 540px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }

    &__arcs {
        position: absolute;
        width: 75%;
        left: 49.5%;
        top: -15%;
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: -1;

        @media screen and (max-width: 720px) {
            display: none;
        }
    }

    &__icon-item {
        text-align: center;
        text-transform: capitalize;
        font-family: "Aleo", serif;
        font-size: 36 / 16 * 1rem;

        @media screen and (max-width: 540px) {
            margin-bottom: 30px;
        }
    }
    
    &__img {
        background-color: #333333;
        display: block;
        height: 57px;
        margin: 0 auto 1.6rem;
    }

    &__text {
        opacity: 0.75;
    }

    @media screen and (max-width: 720px) and (min-width: 540px) {
        &__icon-list {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }


        &__icon-item {
            &:first-child {
                margin-right: 5%;
            }

            &:last-child {
                margin-left: 5%;
            }


            &:nth-child(2) {
                margin: 0 auto;
                -webkit-box-ordinal-group: 2;
                    -ms-flex-order: 1;
                        order: 1;
            }
        }
    }
}