.container {
    max-width: $container-width;
    width: 90%;
    margin: 0 auto;
}

.title {
    text-transform: capitalize;
    font-family: 'Aleo', serif;
    font-size: 36 / 16 * 1rem;
    font-weight: 400;
}

.btn {
    max-width: 225px;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    background-color: $button-blue;
    line-height: 60 / 16 * 1rem;
    font-size: 1rem;
    font-family: 'Aleo', serif;
    text-transform: uppercase;
    transition: all .25s;

    &:hover {
        background-color: $button-blue-hover;
        cursor: pointer;
        transform: scale(1.025);
    }
}

.search-form {
    max-width: 650px;
    width: 100%;
    display: flex;
    font-size: 0;
    justify-content: space-between;
    border: 2px solid #fff;

    &__input {
        line-height: 60 / 16 * 1rem - 1rem;
        // font-size: 30 / 16 * 1rem;
        flex: 1 1 500 / 650 * 100%;
        border: none;
        border-radius: 0;
        outline: none;
        padding: 0.5rem;
        box-shadow: 0 0 10px -5px transparent;
        transition: all .25s;

        &::placeholder {
            text-align: center;
            font-size: 14 / 16 * 1rem;
            text-transform: capitalize;
            font-family: 'Josefin Sans', sans-serif;
        }

        &:focus,
        &:focus-visible {
            outline: 2px solid rgb(28, 247, 255);
        }

        &:hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        }


    }

    &__btn {
        flex: 0 1 146 / 650 * 100%;
        line-height: 60 / 16 * 1rem;
        border: none;
        border-radius: 0;
        background-color: $button-blue;
        color: #fff;
        text-transform: uppercase;
        font-size: 14 / 16 * 1rem;
        font-family: "Aleo", serif;
        transition: all .25s;
        
        & i {
            font-size: 1.45rem;
            vertical-align: middle;
        }

        &:hover {
            background-color: $button-blue-hover;
            cursor: pointer;
        }
    }


    @media screen and (max-width: 540px) {
        flex-direction: column;
        align-items: center;
        border: none;

        &__input {
            flex: 0 1 100%;
            width: 100%;
        }

        &__btn {
            flex: 0 1 50%;
            width: 50%;
            border: 2px solid #fff;
        }
    }
}

.description-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--right {
        justify-content: flex-end;
    }

    &__text-block {
        background-color: $description-block-bg;
        // max-width: $half-width;
        flex: 0 0 $half-width;
        width: 100%;
        padding: 50 / 16 * 1rem 30 / 16 * 1rem;
    }

    &__subtitle {
        text-transform: capitalize;
        @extend %description-text;
    }

    &__title {
        text-transform: uppercase;
        @extend %description-text;
    }

    &__text {
        font-size: 1rem;
        margin-bottom: 50 / 16 * 1rem;
    }

    @media screen and (max-width: 720px) {
        justify-content: center;
        text-align: center;

        &__text-block {
            flex: 0 1 auto;
        }

        &__btn {
            margin: 0 auto;
        }
    }
}